nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    padding: 5px 15px;
    border: none;
    background-color: #B6E8E8;
    font-size: 1.3rem;
}

.menuu {
   color:black;
   text-decoration: none;
   color: rgba(0, 0, 0, 0.55);
}

a:hover {
    color: rgba(0, 0, 0, 0.8);
   text-decoration: none;
}

